
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.jumbotron h2 {
    color: #CEC8FF;
}

.navbar-dark {
    background-color: #901CAD;
}