body {
    background: #e3e3e3;
    padding: 20px;
    font-family: "ubuntu", serif;
  }
  
  .header {
    background: pink;
    text-align: center;
    overflow: hidden;
  }
  
  .text {
    padding: 30px 10px;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .website {
    margin: 50px auto;
    background: pink;
    max-width: 700px;
    box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  
  .grid {
    padding: 15px;
    perspective: 1000px;
  }
  .grid .item {
    background: white;
    height: 60px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    width: 160px;
    background-position: center;
    background-size: cover;
  }
  .grid .item:nth-child(1) {
    background-image: url("#");
  }
  .grid .item:nth-child(2) {
    background-image: url("#");
  }
  .grid .item:nth-child(3) {
    background-image: url("#");
  }
  .grid .item:nth-child(4) {
    background-image: url("#");
  }
  .grid .item:nth-child(5) {
    background-image: url("#");
  }
  .grid .item:nth-child(6) {
    background-image: url("#");
  }
  .grid .item:nth-child(7) {
    background-image: url("#");
  }
  .grid .item:nth-child(8) {
    background-image: url("#");
  }
  .grid .item:nth-child(9) {
    background-image: url("#");
  }
  .grid .item:nth-child(10) {
    background-image: url("#");
  }
  .grid .item:nth-child(11) {
    background-image: url("#");
  }
  .grid .item:nth-child(12) {
    background-image: url("#");
  }
  .grid .item:nth-child(13) {
    background-image: url("#");
  }
  .grid .item:nth-child(14) {
    background-image: url("#");
  }
  .grid .item:nth-child(15) {
    background-image: url("#");
  }
  .grid .item:nth-child(16) {
    background-image: url("#");
  }
  .grid .item:nth-child(17) {
    background-image: url("#");
  }
  .grid .item:nth-child(18) {
    background-image: url("#");
  }
  .grid .item:nth-child(19) {
    background-image: url("#");
  }
  .grid .item:nth-child(4n-5) {
    height: 50px;
  }
  .grid .item:nth-child(2n) {
    height: 300px;
  }
  .grid .item:nth-child(3n) {
    height: 120px;
  }
  
  .item {
    opacity: 0;
  }
  
  .item.is-visible {
    -webkit-animation: Items 600ms ease-in forwards;
            animation: Items 600ms ease-in forwards;
  }
  
  @-webkit-keyframes Items2 {
    0% {
      opacity: 0;
      height: 0%;
      padding: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes Items2 {
    0% {
      opacity: 0;
      height: 0%;
      padding: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes Items {
    0% {
      opacity: 0;
      transform: scale(0.6) rotateY(90deg);
    }
    60% {
      transform: scale(1.4);
    }
    90% {
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes Items {
    0% {
      opacity: 0;
      transform: scale(0.6) rotateY(90deg);
    }
    60% {
      transform: scale(1.4);
    }
    90% {
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
    }
  }